body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
md-input-container {
    width: 100%;
}

    md-input-container input {
        width: 100%;
        max-width: 100%;
    }

    md-input-container .md-input[disabled] {
        color: #696969; /*   (added by faisal) */
    }

    md-input-container:not(.md-input-invalid).md-input-has-value label {
        color: #696969; /*   (added by faisal) */
    }

.panel-body.padded-body {
    margin: 10px 20px;
}

md-input-container {
    margin: 18px 0px 0px 0px !important;
}

    md-input-container label {
        color: #696969; /*   (added by faisal) */
        f